---
type Props = {
  title: string;
  subhead: string;
  content: string;
  image: {
    src: string;
    alt: string;
  }
  button: {
    text: string;
    href: string;
    style: "btn-primary btn-lg";
  }
}

const { title, subhead, content, image, button } = Astro.props;
---

<main id="wvu-main-content" class="py-5 bg-dark text-white wvu-bg-position-top wvu-bg-size-cover" style="background-image: url({image.src})">  
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5">
      <div class="col col-md-6 ">
        <div class="wvu-bg-tint p-3 p-lg-4 my-n4">
          <div class="wvu-z-index-content">            
            <h1 id="hero-1-label" class="wvu-shout display-2 wvu-bar">{title}</h1>
            <p class="h4">{subhead}</p>
            {button.style}, {button.href}, {button.text}
            <p class="lead py-2">{content}</p>
            <a class:list="btn {button.style}" href="{button.href}" role="button">{button.text}</a>
            {button && <a class="btn {button.style}" href="{button.href}">{button.text}</a>}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>