---
import { Picture } from '@astrojs/image/components';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  // callToAction = await Astro.slots.render('callToAction'),
  // callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<main id="wvu-main-content" class="ratio ratio-21x9 py-5 bg-dark text-white wvu-bg-position-top wvu-bg-size-cover">  
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5">
      <div class="col col-md-6">
        <div class="wvu-bg-tint p-3 p-lg-4 my-n4">
          <div class="wvu-z-index-content editable">
            {
              title && (
                <h1
                  id="hero-1-label"
                  class="display-2 wvu-shout wvu-bar"
                  set:html={title}
                />
              )
            }
            {
              subtitle && (
                <p
                  class="helvetica-neue-bold fs-4"
                  set:html={subtitle}
                />
              )
            }
            {
              content && (
                <p
                  class="lead py-2"
                  set:html={content}
                />
              )
            }
            <!-- {
              callToAction && (
                {typeof callToAction === 'string' ? (
                  <Fragment set:html={callToAction} />
                ) : (
                  <a class="btn btn-primary" href={callToAction?.href} role="button">
                    {callToAction?.text}
                  </a>
                )}
              )
            }
            {
              callToAction2 && (
                {typeof callToAction2 === 'string' ? (
                  <Fragment set:html={callToAction2} />
                ) : (
                  <a class="btn btn-primary" href={callToAction2?.href} role="button">
                    {callToAction2.text}
                  </a>
                )}
              )
            } -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {
    image && (
      <div class="relative m-auto max-w-5xl">
        {typeof image === 'string' ? (
          <Fragment set:html={image} />
        ) : (
          <Picture
            class=""
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            aspectRatio={1024 / 576}
            loading="eager"
            width={1024}
            height={576}
            {...image}
          />
        )}
      </div>
    )
  }
</main>